/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 14, 2023, 10:06:09 PM
    Author     : DunogPnahm
*/
/*Set Background*/
#body {
    -fx-background-image: url('./images/bg3.jpg');
}

#UsrBckgr {
    -fx-background-image: url('./images/UserBackground.jpg');
}

#Lgt_Ic {
    -fx-background-image: url('./images/logout.png');
}

#Misc_Ic {
    -fx-background-image: url('./images/open-book.png');
}

#Name_Ic {
    -fx-background-image: url('./images/user.png');
}

#HuceLogo {
    -fx-background-image: url('./images/huce.jpg');
}

#Avatar {
    -fx-background-image: url('./images/ava.png');
}

#Mail_Ic {
    -fx-background-image: url('./images/email.png');
}

#ID_Ic {
    -fx-background-image: url('./images/ID.png');
}

#Genders_Ic {
    -fx-background-image: url('./images/genders.png');
}

#DOB_Ic {
    -fx-background-image: url('./images/calendar.png');
}

#Phone_Ic {
    -fx-background-image: url('./images/telephone.png');
}

#Major_Ic {
    -fx-background-image: url('./images/mortarboard.png');
}
/*Set Background*/
#ClsButton:hover {
    -fx-text-fill: RED;
    -fx-background-color: WHITE !important;
}

Text{
    -fx-fill: #FFFFFF;
}

.FocusPane:hover {
    -fx-background-color: #000000 !important;
    -fx-border-width: 1px !important;
    -fx-border-color: #519bf0 !important;
}

.TransPane {
    -fx-background-color: #bcbcbc;
    -fx-opacity: 0.4;
    -fx-border-width: 3px;
    -fx-border-color: #ffffff;
}

#tf_usr:focus, #tf_pwd:focus {
    -fx-border: 1px solid blue;
}
